:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: rgb(18, 18, 18);
  color: white;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-slider {
  display: flex !important;
  justify-content: space-between !important;
}
.slick-slide {
  padding: 10px !important;
}
.story-slider{
  margin:10px 50px !important;
}

